@import "../../styles/colors";

.contentWrapper {
  display: flex;
  column-gap: 16px;
  margin: 24px 40px 40px;
}

.tabContentLeft {
  width: 40%;

  & > button {
    margin-top: 8px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-height: 608px;
  overflow-y: scroll;
  // fix box-shadow cut by overflow
  margin: -10px;
  margin-bottom: 0;
  padding: 10px;
  padding-bottom: 0;
}

.message {
  color: $white1;
}

.errorMessage {
  color: $error;
}
