@import "../styles/colors";

.wrapper {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/images/background.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.box {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  background: $black1;
  padding: 25px 25px 20px;
}

.tabContent {
  border-radius: 0px 0px 8px 8px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  background: $black1;
  margin-top: 46px;
}
